/*Carousel css*/

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 75%;
  height: 345px;
  margin: auto;
}


span {
	color: #8b8b9f;
}

h4 {
	text-align: center;
	text-decoration: none;
}
