/*Carousel css*/

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 75%;
  height: 345px;
  margin: auto;
}


span {
	color: #8b8b9f;
}

h4 {
	text-align: center;
	text-decoration: none;
}

.tooltip-wrapper {
  display: inline-block; /* display: block works as well */
}

.tooltip-wrapper .btn[disabled] {
  /* don't let button block mouse events from reaching wrapper */
  pointer-events: none;
