h1 {
	font-family: "Helvetica Neue";
	text-align: center;
}

#UserDropdownMenu-Logged-In{
	position: relative;
	top: 10px;
	width: 90%;
}

#Home-Button-Link, #Today-Button-Link, #Configuration-Button-Link, #Login-Button-Link{
	height: 45px;
	margin-top: 10px;
	margin-bottom: 10px;
}
