{% extends 'default.html' %}

{% block body1 %}

<div class="panel panel-primary col-md">
  <div class="panel-heading">
    <h3 class="panel-title">Rooms</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Building</th>
              <th>Room Number</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for r in rooms.items %}
            <tr>
              <td>{{ r.id }}</td>
              <td> {{ r.getMyBuildingName() }} </td>
              <td> {{ r.roomnumber }} </td>
        			<td>{{ r.status }}</td>
              <td><form action="/clean/{{r.id}}"> <button type="submit" class="btn btn-success btn-circle btn-sm"><i class="fa fa-recycle"></i></button> </form></td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
      {% if rooms.has_prev %}<a href="/admin/rooms/clean?page={{rooms.prev_num}}&per={{perPage}}">&lt;&lt; Previous</a>{% else %}&lt;&lt; Previous{% endif %} |
      {% if rooms.has_next %}<a href="/admin/rooms/clean?page={{rooms.next_num}}&per={{perPage}}">Next &gt;&gt;</a>{% else %}Next &gt;&gt;{% endif %}

    </div>
  </div>
</div>

{% endblock %}
