{% extends 'default.html' %}

{% block head %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
{% endblock %}


{% block body1 %}


<hr>
<div class="panel panel-primary col-md">
	<div class="panel-heading">
		<h3 class="panel-title"><i class="fa fa-bar-chart" aria-hidden="true"></i> This week's reservations</h3>
	</div>
	<div class="panel-body">

		<div id="this-weeks-reservations" style="height: 250px;"></div>

	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Rooms</h3>
			</div>
			<div class="panel-body">

				<div id="rooms-status-donut" style="height: 250px;"></div>

			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-calendar-times-o" aria-hidden="true"></i> Today's Activity</h3>
			</div>
			<div class="panel-body">

				<div id="today-activity-donut" style="height: 250px;"></div>

			</div>
		</div>
	</div>
</div>

<div class="panel panel-primary col-md">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-sign-in" aria-hidden="true"></i> Checking In Today</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="datatables" class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Guest</th>
              <th>Room</th>
              <th>Check In</th>
              <th>Check Out</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for r in reservationsInToday %}
            <tr>
              <td><a href="/res/{{r.id}}"</a>{{ r.id }}</td>
              <td>
              {% if r.guestID %}
        			  {{ getGuestByID(r.guestID).get_last_name() }}, {{ getGuestByID(r.guestID).get_first_name() }}
              {% endif %}
              </td>
              <td>
                {% if r.roomID %}
          			  {{ getRoomByID(r.roomID).getMyBuildingName() }}   {{ getRoomByID(r.roomID).get_room_number() }}
                {% endif %}
              </td>
        			<td>{{ r.get_check_in_datetime().strftime("%B %d, %Y") }}</td>
        			<td>{{ r.get_check_out_datetime().strftime("%B %d, %Y") }}</td>
        			{% if r.status == "checkedin" %}
                <td><font color="green">Checked In</font></td>
              {% else %}
                {% if r.status == "checkedout" %}
                  <td><font color="red">Checked Out</font></td>
                {% else %}
                  <td>{{ r.status }}</td>
                {% endif %}
              {% endif %}
              <td><form action="/check/{{r.id}}/in"> <button type="submit" class="btn btn-success btn-circle btn-sm"><i class="fa fa-plus"></i></button> </form></td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary col-md">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-sign-out" aria-hidden="true"></i> Checking Out Today</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="datatables" class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Guest</th>
              <th>Room</th>
              <th>Check In</th>
              <th>Check Out</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for r in reservationsOutToday %}
            <tr>
              <td><a href="/res/{{r.id}}"</a>{{ r.id }}</td>
              <td>
              {% if r.guestID %}
        			  {{ getGuestByID(r.guestID).get_last_name() }}, {{ getGuestByID(r.guestID).get_first_name() }}
              {% endif %}
              </td>
              <td>
                {% if r.roomID %}
          			  {{ getRoomByID(r.roomID).getMyBuildingName() }}   {{ getRoomByID(r.roomID).get_room_number() }}
                {% endif %}
              </td>
        			<td>{{ r.get_check_in_datetime().strftime("%B %d, %Y") }}</td>
        			<td>{{ r.get_check_out_datetime().strftime("%B %d, %Y") }}</td>
        			{% if r.status == "checkedin" %}
                <td><font color="green">Checked In</font></td>
              {% else %}
                {% if r.status == "checkedout" %}
                  <td><font color="red">Checked Out</font></td>
                {% else %}
                  <td>{{ r.status }}</td>
                {% endif %}
              {% endif %}
              <td><form action="/check/{{r.id}}/out"> <button type="submit" class="btn btn-danger btn-circle btn-sm"><i class="fa fa-minus"></i></button> </form></td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<script>
	new Morris.Donut({
	  element: 'rooms-status-donut',
	  data: [
	    {label: "Occupied Rooms", value: {{ numOccupiedRooms }} },
	    {label: "Unoccupied Rooms", value: {{ numUnoccupiedRooms }} },
			{label: "Dirty Rooms", value: {{ numUncleanRooms }} },
	    {label: "Inactive Rooms", value: {{ numInactiveRooms }} }
	  ]
	});

	new Morris.Donut({
	  element: 'today-activity-donut',
	  data: [
	    {label: "Checking In", value: {{ chin[0] }}},
	    {label: "Checking Out", value: {{ chout[0] }}}
	  ]
	});

	new Morris.Bar({
	  element: 'this-weeks-reservations',
	  data: [
	    { y: 'Today', a: {{ chin[0] }}, b: {{ chout[0] }} },
	    { y: 'Tomorrow', a: {{ chin[1] }},  b: {{ chout[1] }} },
	    { y: '{{ daysOfWeek[2] }}', a: {{ chin[2] }},  b: {{ chout[2] }} },
	    { y: '{{ daysOfWeek[3] }}', a: {{ chin[3] }},  b: {{ chout[3] }} },
	    { y: '{{ daysOfWeek[4] }}', a: {{ chin[4] }},  b: {{ chout[4] }} },
	    { y: '{{ daysOfWeek[5] }}', a: {{ chin[5] }},  b: {{ chout[5] }} },
	    { y: '{{ daysOfWeek[6] }}', a: {{ chin[6] }},  b: {{ chout[6] }} }
	  ],
	  xkey: 'y',
	  ykeys: ['a', 'b'],
	  labels: ['Check Ins', 'Check Outs']
	});

</script>

{% endblock %}
