{% extends 'default.html' %}

{% block body1 %}

{% if obj.is_deletable() %}
  <h1>Delete</h1>

  <div class="panel panel-red">
      <div class="panel-heading">
        The following {{ type }} will be deleted permantly:
      </div>
      <div class="panel-body">
        {% if type=="reservation" %}
          <div class="table-responsive">
            <table class="table table-hover">
              <tbody>

                <tr> <!-- Guest -->
                  <td>Guest</td>
                  <td>
                    {% if obj.get_guest() %}
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>Name</td>
                          <td>{{ obj.get_guest().get_name() }}</td>
                        </tr>
                        <tr>
                          <td>Email</td>
                          <td>{{ obj.get_guest().get_email() }}</td>
                        </tr>
                        <tr>
                          <td>Phone</td>
                          <td>{{ obj.get_guest().get_phone() }}</td>
                        </tr>
                      </tbody>
                    </table>
                    {% else %}
                    <p><em>Guest not assigned.</em></p>
                    {% endif %}
                  </td>
                </tr> <!-- /Guest -->

                <tr> <!-- Dates -->
                  <td>Dates</td>
                  <td>
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>In</td>
                          <td>{{ obj.get_check_in_datetime() }}</td>
                        </tr>
                        <tr>
                          <td>Out</td>
                          <td>{{ obj.get_check_out_datetime() }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr><!-- /Dates -->

                <tr> <!-- Room -->
                  <td>Room</td>
                  <td>
                    {% if obj.get_room() %}
                    <table class="table">
                      <tbody>
                        <tr>
                          <td></td>
                          <td>{{ obj.get_room().get_name() }} </td>
                        </tr>
                      </tbody>
                    </table>
                    {% else %}
                    <p><em>Room not assigned.</em></p>
                    {% endif %}
                  </td>
                </tr><!-- /Room -->

              </tbody>
            </table>
          </div>
        {% else %}
          <p>{{ obj.get_name() }}</p>
        {% endif %}
      </div>
      <div class="panel-footer">
          {% if type == "building" %}
          <form action="/admin/buildings/deleteme" method="POST">
            <input type="hidden" name="id" value="{{ obj.getID() }}">
            <a href="/admin/buildings" class="btn btn-default btn-circle btn-lg"><i class="fa fa-arrow-left"></i></a>
            <button type="submit" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-trash"></i></button>
          </form>
          {% elif type == "room" %}
          <form action="/admin/rooms/deleteme" method="POST">
            <input type="hidden" name="id" value="{{ obj.getID() }}">
            <a href="/admin/rooms" class="btn btn-default btn-circle btn-lg"><i class="fa fa-arrow-left"></i></a>
            <button type="submit" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-trash"></i></button>
          </form>
          {% elif type == "reservation" %}
          <form action="/res/deleteme" method="POST">
            <input type="hidden" name="id" value="{{ obj.getID() }}">
            <a href="/admin/reservation" class="btn btn-default btn-circle btn-lg"><i class="fa fa-arrow-left"></i></a>
            <button type="submit" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-trash"></i></button>
          </form>
          {% endif %}
      </div>
  </div>

{% else %}

  <div class="panel panel-yellow">
      <div class="panel-heading">
          Oops!
      </div>
      <div class="panel-body">
        <p>The {{ type }} {{ obj.get_name() }} can't be deleted.</p>
        {% if type=="building" %}
          <p>The building still contains {{ obj.all_rooms()|length }} room(s). Delete the rooms before deleting this building.</p>
        {% elif type=="room" %}
          <p>The room still has {{obj.all_reservations()|length }} reservation(s). Reassign or delete the reservations before deleting this room.</p>
        {% elif type=="reservation" %}
          <p>The reservation is still checked in. Check out the reservation before deleting.</p>
        {% endif %}

      </div>
      <div class="panel-footer">
        {% if type=="building" %}
          <small><em>A good demolition team would dismantle the rooms first!</em></small>
        {% elif type=="room" %}
          <small><em>The guests have to stay somewhere!</em></small>
        {% elif type=="reservation" %}
          <small><em>Gonna kick them out of the room?</em></small>
        {% endif %}
      </div>
  </div>


{% endif %}




<br />


{% endblock %}
