{% extends 'default.html' %}

{% block body1 %}

{% for g in guests %}
<div class="col-lg-12">
  <h1>{{g.first + ' ' + g.last}} <a href="#" class = "btn btn-default btn-circle disabled" role="button"><i class="fa fa-user"></i></a></h1>  
  <hr>
  <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">
         <i class="fa fa-user fa-fw"></i> Guest Information
      </div>
      <div class="panel-body">
        <p id=""><strong>Guest Number:</strong> &nbsp;{{g.id}}</p>
        <p id=""><strong>First Name:</strong>&nbsp; {{g.first}}</p>
        <p id=""><strong>Last Name: </strong>&nbsp;{{g.last}}</p>
      </div>
<!--       <div class="panel-footer">
          <i class="fa fa-pencil" aria-hidden="true"></i> Edit Guest
      </div> -->
    </div>

    <div class="panel panel-primary">
      <!-- Default panel contents -->
      <div class="panel-heading">
         <i class="fa fa-info fa-fw"></i>Contact {{g.first + ' ' + g.last}}
      </div>
      <div class="panel-body">
        <p id=""><strong>Email:</strong>  &nbsp; <i class="fa fa-envelope-o" aria-hidden="true"></i><a href= "mailto:{{g.email}}" target="_blank"> {{g.email}}</a></li></p>
        <p id=""><strong>Phone:</strong> &nbsp;  <i class="fa fa-phone" aria-hidden="true"></i><a href= "tel:{{g.phone}}" target="_blank"> {{g.phone}}</a></li></p>
      </div>

    </div>
    {% endfor %}
</div>

  

{% endblock %}
