{% extends 'default.html' %}

{% block body1 %}

{% from "__guesthelper.html" import render_field %}


{% if not resID %}
  <!-- Modal -->
  {% for g in guests %}
    <div class="modal fade" id="editGuest_{{ g.id }}" tabindex="-1" role="dialog" aria-labelledby="editGuestModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit Guest</h4>
          </div>
          <div class="modal-body">

            {% if not allowEdit(g.id) %}
              <div class="panel panel-default">
                <div class="panel-body">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  <em>You don't have permission to edit guests.</em>
                </div>
              </div>
            {% endif %}
            <form class="well" method="POST" action="/admin/guest/{{ g.id }}">
              {% for field in edit_form(g.id) %}
                <tr>
                    <td>{{ field.label }}</td>
                    {% if allowEdit(g.id) %}
                      <td>{{ field }}</td>
                    {% else %}
                      <td>{{ field(readonly=True) }}
                    {% endif %}
                    <br />
                </tr>
              {% endfor %}

              {% if allowEdit(g.id) %}
              <br />
              <button type="button" class="btn btn-danger btn-circle btn-lg" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
              <button type="submit" class="btn btn-success btn-circle btn-lg"><i class="fa fa-check"></i></button>


              {% endif %}
            </form>


          </div><!-- ./modal-body-->
        </div>
      </div>
    </div>
  {% endfor %}
  <!-- /Modal -->
{% endif %}

<div class="well">
<form method="POST" action={% if target %}"{{target}}"{% else %}"/admin/guestsearch"{% endif %}>
  {{ form.csrf_token }}
  {{ form.firstname.label }} {{ form.firstname(size=20) }} <br>
  {{ form.lastname.label }} {{ form.lastname(size=20) }} <br>
  {{ form.email.label }} {{ form.email(size=20) }} <br>
  {{ form.phone.label }} {{ form.phone(size=20) }} <br>
  {% if resID %}
    <input type="hidden" name="resID" value="{{ resID }}">
    <input type="hidden" name="searching" value="True">
  {% endif %}
  <br>
  <input type="submit"  class="btn btn-primary" value="Search">
</form>

</div>

<hr/>

{% if guests %}
<div class="panel panel-primary col-md">
  <div class="panel-heading">
    <h3 class="panel-title">Search Result</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="datatables" class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for u in guests %}
            <tr>
              <td>{{ u.id }}</td>
              <td>{{ u.first }}</td>
              <td>{{ u.last }}</td>
              <td>{{ u.email }}</td>
              <td>{{ u.phone }}</td>
              <td>
                {% if resID %}
                  {% if not editsession %}
                  <form action="/res/new/guest/search/process" method="POST">
                    <input type="hidden" name="resID" value="{{ resID }}">
                    <input type="hidden" name="guestID" value="{{ u.id }}">
                    <input type="submit" class="btn btn-primary" value="Select">
                  </form>
                  <p>reg</p>
                  {% else %}
                  <form action="/res/edit/guest/search/process" method="POST">
                    <input type="hidden" name="resID" value="{{ resID }}">
                    <input type="hidden" name="guestID" value="{{ u.id }}">
                    <input type="submit" class="btn btn-primary" value="Select">
                  </form>
                  <p>edit</p>
                  {% endif %}
                {% else %}
                  <button type="button" class="btn btn-primary btn-circle btn-sm" data-toggle="modal" data-target="#editGuest_{{ u.id }}">
                    {% if allowEdit(u.id) %}
                      <i class="fa fa-pencil"></i>
                    {% else %}
                      <i class="fa fa-info"></i>
                    {% endif %}
                  </button>
                {% endif %}
            </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}
