{% extends 'default.html' %}

{% block body1 %}

<div class="well">
<form method="POST" action={% if target %}"{{target}}"{% else %}"/admin/guestsearch"{% endif %}>
  {{ form.csrf_token }}
  {{ form.firstname.label }} {{ form.firstname(size=20) }} <br>
  {{ form.lastname.label }} {{ form.lastname(size=20) }} <br>
  {{ form.email.label }} {{ form.email(size=20) }} <br>
  {{ form.phone.label }} {{ form.phone(size=20) }} <br>
  {% if resID %}
    <br>
    <div class="panel panel-primary">
      <div class="panel-body">
        Adding to reservation ID: <strong> {{ resID }}</strong>
      </div>
    </div>
    
    <input type="hidden" name="resID" value="{{ resID }}">
    <input type="hidden" name="searching" value="True">
  {% endif %}
  <br>
  <input type="submit"  class="btn btn-primary" value="Search">
</form>

</div>

<hr/>

{% if guests %}
<div class="panel panel-primary col-md">
  <div class="panel-heading">
    <h3 class="panel-title">Search Result</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="datatables" class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for u in guests %}
            <tr>
              <td>{{ u.id }}</td>
              <td>{{ u.first }}</td>
              <td>{{ u.last }}</td>
              <td>{{ u.email }}</td>
              <td>{{ u.phone }}</td>
              <td>
                {% if resID %}
                  <form action="/res/new/guest/search/process" method="POST">
                    <input type="hidden" name="resID" value="{{ resID }}">
                    <input type="hidden" name="guestID" value="{{ u.id }}">
                    <input type="submit" class="btn btn-primary" value="Select">
                  </form>
                {% else %}
                  <button type="button" class="btn btn-primary btn-circle btn-sm" data-toggle="modal" data-target="#editGuest_{{ u.id }}">
                    {% if allowEdit(u.id) %}
                      <i class="fa fa-pencil"></i>
                    {% else %}
                      <i class="fa fa-info"></i>
                    {% endif %}
                  </button>
                {% endif %}
            </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}
