{% extends 'default.html' %}

{% block body1 %}


<form class="well" method="POST" action={% if target %}"{{target}}"{% else %}"/admin/guestsearch"{% endif %}>
  {{ form.csrf_token }}
  {{ form.firstname.label }} {{ form.firstname(size=20) }} <br>
  {{ form.lastname.label }} {{ form.lastname(size=20) }} <br>
  {{ form.email.label }} {{ form.email(size=20) }} <br>
  {{ form.phone.label }} {{ form.phone(size=20) }} <br>
  {% if resID %}
    Adding to res {{ resID }}
    <input type="hidden" name="resID" value="{{ resID }}">
    <input type="hidden" name="searching" value="True">
  {% endif %}
  <br>
  <input type="submit"  class="btn-primary" value="Search">
</form>
<hr/>

{% if guests %}
<div class="panel panel-primary col-md">
  <div class="panel-heading">
    <h3 class="panel-title">Search Result</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for u in guests %}
            <tr>
              <td>{{ u.id }}</td>
              <td>{{ u.first }}</td>
              <td>{{ u.last }}</td>
              <td>{{ u.email }}</td>
              <td>{{ u.phone }}</td>
              <td>
                {% if resID %}
                  <form action="/res/step-3/search/process" method="POST">
                    <input type="hidden" name="resID" value="{{ resID }}">
                    <input type="hidden" name="guestID" value="{{ u.id }}">
                    <input type="submit" class="btn btn-primary" value="Select">
                  </form>
                {% else %}
                  <button type="button" name="button">++View/Edit function++</button>
                {% endif %}
            </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock %}
