{% extends 'default.html' %}

{% block body1 %}

{% if form %}
<form class="well" method="POST" action="/admin/buildings">
  {{ form.name.label }} {{ form.name}} <br>
  {{ form.numFloors.label }} {{ form.numFloors }} <br>
  {{ form.status.label }} {{ form.status }} <br>
  {{ form.description.label }} {{ form.description }} <br><br>

  <input type="submit" class="btn btn-primary" value="Create">
</form>

{% else %}
<div class="panel panel-default">
  <div class="panel-body">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    <em>You don't have permission create buildings.</em>
  </div>
</div>
{% endif %}

<hr />


<!-- Modal -->
{% for b in buildings %}
  <div class="modal fade" id="editBuilding_{{ b.id }}" tabindex="-1" role="dialog" aria-labelledby="editBuildingModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Building</h4>
        </div>
        <div class="modal-body">

          {% if not allowEdit() %}
            <div class="panel panel-default">
              <div class="panel-body">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <em>You don't have permission to edit buildings.</em>
              </div>
            </div>
          {% endif %}
          <form class="well" method="POST" action="/admin/buildings/{{ b.id }}">
            {% for field in edit_form(b.id) %}
              <tr>
                  <td>{{ field.label }}</td>
                  {% if allowEdit() %}
                    <td>{{ field }}</td>
                  {% else %}
                    <td>{{ field(readonly=True) }}
                  {% endif %}
                  <br />
              </tr>
            {% endfor %}

            {% if allowEdit() %}
            <br>
            <button type="button" class="btn btn-danger btn-circle btn-lg" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            <button type="submit" class="btn btn-success btn-circle btn-lg"><i class="fa fa-check"></i></button>
            <a href="/admin/buildings/{{ b.id }}/delete" class="btn btn-default btn-circle btn-lg pull-right"><i class="fa fa-trash"></i></a>
            {% endif %}
          </form>


        </div><!-- ./modal-body-->

        <!--
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        -->

      </div>
    </div>
  </div>
{% endfor %}
<!-- /Modal -->



<!-- Table of buildings -->
<div class="panel panel-primary col-md">
  <div class="panel-heading">
    <h3 class="panel-title">Buildings</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="datatables" class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>Name</th>
              <th>Floors</th>
              <th>Status</th>
              <th>Description</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for b in buildings %}
          		<tr>
          			<td>{{ b.id }}</td>
          			<td><strong>{{ b.name }}</strong></td>
          			<td>{{ b.numfloors }}</td>
                <td>{{ b.status }}</td>
                <td>{{b.description}}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-circle btn-sm" data-toggle="modal" data-target="#editBuilding_{{ b.id }}">
                    {% if allowEdit() %}
                      <i class="fa fa-pencil"></i>
                    {% else %}
                      <i class="fa fa-info"></i>
                    {% endif %}
                  </button>
                </td>

          		</tr>
          	{% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
