{% extends 'default.html' %}

{% block body1 %}

{% macro render_pagination(pagination) %}
  <div class=pagination>
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="/admin/reservationlist?page={{page}}&per={{perPage}}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  </div>
{% endmacro %}


<div class="panel panel-primary col-md">
  <div class="panel-heading">
    <h3 class="panel-title">Reservations</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="datatables" class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Guest</th>
              <th>Room</th>
              <th>Check In</th>
              <th>Check Out</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          {% for r in reservations.items %}
            <tr>
              <td><a href="/res/{{r.id}}"</a>{{ r.id }}</td>
              <td>
              {% if r.guestID %}
        			  {{ getGuestByID(r.guestID).get_last_name() }}, {{ getGuestByID(r.guestID).get_first_name() }}
              {% endif %}
              </td>
              <td>
                {% if r.roomID %}
          			  {{ getRoomByID(r.roomID).getMyBuildingName() }}   {{ getRoomByID(r.roomID).get_room_number() }}
                {% endif %}
              </td>
        			<td>{{ r.get_check_in_datetime().strftime("%B %d, %Y") }}</td>
        			<td>{{ r.get_check_out_datetime().strftime("%B %d, %Y") }}</td>
              <td>{{ r.status }}</td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-6 vcenter">
        Rooms per page:
        <a href="/admin/reservationlist?page=1&per=10">10</a>
        <a href="/admin/reservationlist?page=1&per=25">25</a>
        <a href="/admin/reservationlist?page=1&per=50">50</a>
      </div><div class="col-md-6 vcenter"><div class="pull-right">
        {% if reservations.has_prev %}<a href="/admin/reservationlist?page={{reservations.prev_num}}&per={{perPage}}">&lt;&lt; Previous</a>{% else %}&lt;&lt; Previous{% endif %} |
        {{ render_pagination(reservations) }}|
        {% if reservations.has_next %}<a href="/admin/reservationlist?page={{reservations.next_num}}&per={{perPage}}">Next &gt;&gt;</a>{% else %}Next &gt;&gt;{% endif %}
      </div></div>
    </div>
  </div>
</div>



{% endblock %}
