{% extends 'default.html' %}

{% block body1 %}


<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-plus"></i> Create New User</a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          {% if form %}
          <form class="well" method="POST" action="/admin/users">
            {{ form.csrf_token }}
            {{ form.firstname.label }} {{ form.firstname(size=20) }}
            {{ form.lastname.label }} {{ form.lastname(size=20) }} <br />
            {{ form.email.label }} {{ form.email(size=20) }} <br />
            {{ form.password.label }} {{ form.password(size=20) }} <br />
            {{ form.role.label }} {{ form.role}} <br /><br />

            <input type="submit" class="btn btn-primary" value="Create">
          </form>

          {% else %}
          <div class="panel panel-default">
            <div class="panel-body">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              <em>You don't have permission to create users.</em>
            </div>
          </div>
  {% endif %}
        </div>
    </div>
</div>

<hr>



<!-- Modal -->
{% for u in users %}
  <div class="modal fade" id="editUser_{{ u.id }}" tabindex="-1" role="dialog" aria-labelledby="editUserModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit User</h4>
        </div>
        <div class="modal-body">


          {% if isCurrentUser(u.id) %}
            <div class="alert alert-warning" role="alert">
              You are currently logged in as this user.
            </div>
          {% endif %}
          {% if not allowEdit(u.id) %}
            <div class="panel panel-default">
              <div class="panel-body">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <em>You don't have permission to edit users.</em>
              </div>
            </div>
          {% endif %}
          <form class="well" method="POST" action="/admin/users/{{ u.id }}">
            {% for field in edit_form(u.id) %}
              <tr>
                {% if field.id != 'csrf_token' %}
                  <td>{{ field.label }}</td>
                  {% if allowEdit(u.id) %}
                    <td>{{ field }}</td>
                  {% else %}
                    <td>{{ field(readonly=True) }}
                  {% endif %}
                  {% endif %}
                  <br />
              </tr>
            {% endfor %}

            {% if allowEdit(u.id) %}
            <br />
            <button type="button" class="btn btn-danger btn-circle btn-lg" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            <button type="submit" class="btn btn-success btn-circle btn-lg"><i class="fa fa-check"></i></button>
            {% endif %}
          </form>


        </div><!-- ./modal-body-->

        <!--
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        -->

      </div>
    </div>
  </div>
{% endfor %}

<!-- Table of users -->

<div class="panel panel-primary col-md">
  <div class="panel-heading">
    <h3 class="panel-title">Users</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="datatables"class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Role</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {% for u in users %}
            <tr>
              <td>{{ u.id }}</td>
        			<td>{{ u.first }}</td>
        			<td>{{ u.last }}</td>
              <td><strong>{{ u.email }}</strong></td>
              <td>{{ u.role }}</td>
              <td>
                <button type="button" class="btn btn-primary btn-circle btn-sm" data-toggle="modal" data-target="#editUser_{{ u.id }}">
                  {% if allowEdit(u.id) %}
                    <i class="fa fa-pencil"></i>
                  {% else %}
                    <i class="fa fa-info"></i>
                  {% endif %}
                </button>
              </td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- /table of users-->


{% endblock %}
