{% extends 'default.html' %}

{% block body1 %}

{% if form %}
<form class="well" method="POST" action="/admin/buildings">
  {% for field in form %}
    <tr>
    {% if field.type == "BooleanField" %}
        <td></td>
        <td>{{ field }} {{ field.label }}</td>
        <br />
    {% elif field.type == "TextAreaField" %}
        <td>{{ field.label }}:</td><br />
        <td>{{ field }}</td>
        <br />
    {% else %}
        <td>{{ field.label }}</td>
        <td>{{ field }}</td>
        <br />
    {% endif %}
    </tr>
{% endfor %}


  <input type="submit" value="Create">
</form>
{% else %}
<div class="panel panel-default">
  <div class="panel-body">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    <em>You don't have permission create buildings.</em>
  </div>
</div>
{% endif %}

<hr />


<div class="panel panel-primary col-md">
  <div class="panel-heading">
    <h3 class="panel-title">Buildings</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>Name</th>
              <th>Floors</th>
              <th>Status</th>
              <th>Description</th>

            </tr>
          </thead>
          <tbody>
            {% for b in buildings %}
          		<tr>
          			<td>{{ b.id }}</td>
          			<td><strong><a href = "/edit/building">{{ b.name }}</a></strong></td>
          			<td>{{ b.numfloors }}</td>
                <td>{{ b.status }}</td>
                <td>{{b.description}}</td>


          		</tr>
          	{% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
