{% extends 'default.html' %}

{% block body1 %}

{% if form %}
  <form class="well" method="POST" action="/admin/rooms">
    {% for field in form %}
      <tr>
      {% if field.type == "BooleanField" %}
          <td></td>
          <td>{{ field }} {{ field.label }}</td>
          <br />
      {% elif field.type == "TextAreaField" %}
          <td>{{ field.label }}:</td><br />
          <td>{{ field }}</td>
          <br />
      {% else %}
          <td>{{ field.label }}</td>
          <td>{{ field }}</td>
          <br />
      {% endif %}
      </tr>
  {% endfor %}

    <input type="submit" class="btn-primary" value="Create">
  </form>

{% else %}
  <div class="panel panel-default">
    <div class="panel-body">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <em>You don't have permission create rooms.</em>
    </div>
  </div>
{% endif %}
<hr />

<!-- Modal -->
{% for r in rooms %}
  <div class="modal fade" id="editRoom_{{ r.id }}" tabindex="-1" role="dialog" aria-labelledby="editRoomModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Edit Room</h4>
        </div>
        <div class="modal-body">

          {% if not allowEdit() %}
            <div class="panel panel-default">
              <div class="panel-body">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <em>You don't have permission to edit rooms.</em>
              </div>
            </div>
          {% endif %}
          {% if r.get_status() == CONST.occupied_status %}
            <div class="panel panel-warning">
              <div class="panel-body">
                <i class="fa fa-exclamation-triangle"></i>
                <em>This room is currently marked as Occupied.</em>
              </div>
            </div>
          {% endif %}
          <form class="well" method="POST" action="/admin/rooms/{{ r.id }}">
            {% for field in edit_form(r.id) %}
              <tr>
                  <td>{{ field.label }}</td>
                  {% if allowEdit() %}
                    <td>{{ field }}</td>
                  {% else %}
                    <td>{{ field(readonly=True) }}
                  {% endif %}
                  <br />
              </tr>
            {% endfor %}

            {% if allowEdit() %}
            <br />
            <button type="button" class="btn btn-danger btn-circle btn-lg" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
            <button type="submit" class="btn btn-success btn-circle btn-lg"><i class="fa fa-check"></i></button>


            {% endif %}
          </form>


        </div><!-- ./modal-body-->

        <!--
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        -->

      </div>
    </div>
  </div>
{% endfor %}
<!-- /Modal -->



<!-- Table of rooms -->
<div class="panel panel-primary col-md">
  <div class="panel-heading">
    <h3 class="panel-title">Rooms</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="table-responsive">
        <table id="datatables" class="table table-striped">
          <thead>
            <tr>
              <th>id</th>
              <th>Building</th>
              <!-- <th>Floor</th> -->
              <th>Room Number</th>
              <th>Capacity</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for r in rooms %}
          		<tr>
          			<td>{{ r.id }}</td>
          			<td>{{ r.getMyBuildingName() }}</td>
          			<!-- <td>{{ r.floor }}</td> -->
                <td><a href = "/edit/room"><strong>{{ r.roomnumber }}</strong></a></td>
                <td>{{ r.capacity }}</td>
                <td>{{ r.status }}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-circle btn-sm" data-toggle="modal" data-target="#editRoom_{{ r.id }}">
                    {% if allowEdit() %}
                      <i class="fa fa-pencil"></i>
                    {% else %}
                      <i class="fa fa-info"></i>
                    {% endif %}
                  </button>
                </td>
          		</tr>
          	{% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
