{% extends 'default.html' %}

{% block body1 %}

<form action="" method=post class="form-horizontal">
  <h2>Login to RoomReserve </h2>
  <div class="control-group">
      <div class="controls">
        <input type="text" id="email" name="email" class="input-xlarge"
          placeholder="Email Address" required>
      </div>
  </div>

  <div class="control-group">
      <div class="controls">
        <input type="password" id="password" name="password" class="input-xlarge"
          placeholder="Password" required>
      </div>
  </div>
  <br>
  <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-success">Sign in</button>
      </div>
  </div>
</form>

{% endblock %}
