
<!doctype html>
<html>
<head>
  <title>
    {% if not title %}
     {{ appname }}
    {% else %}
     {{ appname }} / {{ title }}
    {% endif %}
  </title>

  {%include 'parts/bootstrap.html' %}

  {% block head %} {% endblock %}
</head>


<body>
  <!-- Page Content -->
  <div id="wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12">
                <h2>{{ title }}</h2>
                {% block body1 %}

                  <!-- Navigation -->
                  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                      <div class="navbar-header">
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </button>
                          <a class="navbar-brand" href="/">{{ appname }}</a>
                      </div>
                      <!-- /.navbar-header -->
                      <ul class="nav navbar-top-links navbar-right">
                          <li class="dropdown">
                              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                  <i class="fa fa-user fa-fw"></i>
                                    {% if logged_in %}
                                      {{ current_user_name }}
                                    {% else %}
                                      Welcome to RoomReserve!
                                    {% endif %}
                                    <i class="fa fa-caret-down"></i>
                              </a>
                              <ul class="dropdown-menu dropdown-user">
                                  {% if logged_in %}
                                    <li><a href="/admin/users#editUser_{{ current_user_id }}"><i class="fa fa-user fa-fw"></i> My Profile</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                    </li>
                                  {% else %}
                                    <li><a href="/login"><i class="fa fa-sign-in fa-fw"></i> Log in</a></li>
                                  {% endif %}
                              </ul>
                              <!-- /.dropdown-user -->
                          </li>
                          <!-- /.dropdown -->
                      </ul>
                      <!-- /.navbar-top-links -->
                  </nav>

                  <br>
                  <br>


                  {% from "__guesthelper.html" import render_field %}

                  
                  {% if form %}
                  <form class="well" method="POST" action="/newguest">
                    {{ form.csrf}}
                    {{ form.firstname.label }} {{ form.firstname(size=20) }}
                    {{ form.lastname.label }} {{ form.lastname(size=20) }} <br>
                    {{ form.email.label }} {{ form.email(size=30) }} <br>
                    {{ form.phone.label }} {{ form.phone(size=20) }} <br>
                    {{ form.address.label }} {{ form.address(size=30) }} <br>
                    {{ form.payment.label }} {{ form.payment(size=25) }} <br>
                    {{ form.notes.label }} {{ form.notes(size=300) }} <br><br>

                    <input type="submit" class="btn btn-primary" value="Create">
                  </form>

                  {% endif %}
                  <hr />

              </div>

                {%include 'parts/footer.html' %}

            </div>
              <!-- /.col-lg-12 -->
          </div>
          <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
  </div>
  <!-- /#wrapper -->

{% include 'parts/bootstrap_foot.html' %}
{% endblock %}
</body>
</html>