{% extends 'default.html' %}


{% block head %}
<!-- Include Date Range Picker -->
<script type="text/javascript" src="/static/js/moment.min.js"></script>
<script type="text/javascript" src="/static/js/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/daterangepicker.css" />
{% endblock %}

{% block body1 %}

{% if allowEdit() %}

<!-- New Guest Modal -->
  <div class="modal fade" id="makeguest" tabindex="-1" role="dialog" aria-labelledby="newGuestModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="newGuestModalLabel">Create Guest</h4>
        </div>
        <div class="modal-body">
          
          <script>
            function makeguestselect2() {
              var myname = document.getElementById("guestName") ;
              var firstname = document.getElementById("guestfirst").value;
              var lastname = document.getElementById("guestlast").value;
              document.getElementById("newguestemail").setAttribute("value", document.getElementById("guestemail").value);
              document.getElementById("newguestphone").setAttribute("value", document.getElementById("guestphone").value);
              document.getElementById("newguestaddress").setAttribute("value", document.getElementById("guestaddress").value);
              document.getElementById("newguestpayment").setAttribute("value", document.getElementById("guestpayment").value);
              document.getElementById("newguestnotes").setAttribute("value", document.getElementById("guestnotes").value);
              document.getElementById("newguestfirst").setAttribute("value", firstname);
              document.getElementById("newguestlast").setAttribute("value", lastname);
              myname.setAttribute("color", "green");
              myname.innerHTML = firstname + " " + lastname;
              

            }
          </script>
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Create New Guest</h3>
            </div>
            <div class="panel-body">
              
              
                  <div class="form-group">
                    <label class="col-sm-2 control-label">First Name</label>
                      <div class="col-sm-10">
                        <input type="text" name="firstname" class="form-control" id="guestfirst" placeholder="First Name" required>
                      </div>
                    <label class="col-sm-2 control-label">Last Name</label>
                      <div class="col-sm-10">
                        <input type="text" name="lastname" class="form-control" id="guestlast" placeholder="Last Name" required>
                      </div>
                    <label class="col-sm-2 control-label">Email</label>
                      <div class="col-sm-10">
                        <input type="text" name="email" class="form-control"  id="guestemail" placeholder="Email Address" required>
                      </div>
                    <label class="col-sm-2 control-label">Phone</label>
                      <div class="col-sm-10">
                        <input type="text" name="phone" class="form-control"  id="guestphone" placeholder="Phone Number" required>
                      </div>
                      
                    <label class="col-sm-2 control-label">Address</label>
                      <div class="col-sm-10">
                        <input type="text" name="address" class="form-control"  id="guestaddress" placeholder="Address" required>
                      </div>
                    <label class="col-sm-2 control-label">Payment</label>
                      <div class="col-sm-10">
                        <input type="text" name="payment" class="form-control"  id="guestpayment" placeholder="Payment Information" required>
                      </div>
                    <label class="col-sm-2 control-label">Notes</label>
                      <div class="col-sm-10">
                        <input type="text" name="notes" class="form-control"  id="guestnotes" placeholder="Additional Information" required>
                      </div>
                      
                      
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" aria-label="Close" onclick="makeguestselect2()">Save</button>
                    
                  </div>
    
    
            </div>
          </div>

        </div><!-- ./modal-body-->

        <!--
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        -->

      </div>
    </div>
  </div>
  
  
<!-- Existing Guest Modal -->
  <div class="modal fade" id="pickguest" tabindex="-1" role="dialog" aria-labelledby="pickGuestModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="pickguestModalLabel"> Select Guest</h4>
        </div>
        <div class="modal-body">
          
          {% if guests %}
          <div class="panel panel-primary col-md">
            <div class="panel-heading">
              <h3 class="panel-title">Search Result</h3>
            </div>
            <div class="panel-body">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table id="datatables" class="table table-striped">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <script>
                        function makeguestselect(theid) {
                          var myname = document.getElementById("guestName") ;
                          myname.setAttribute("color", "green");
                          document.getElementById("guestID").setAttribute("value", theid);
                          myname.innerHTML = document.getElementById("first" + theid.toString()).innerHTML + " " + document.getElementById("last" + theid.toString()).innerHTML;
                          

                        }
                      </script>
                    {% for u in guests %}
                      <tr>
                        <td>{{ u.id }}</td>
                        <td id="first{{ u.id }}">{{ u.first }}</td>
                        <td id="last{{ u.id }}">{{ u.last }}</td>
                        <td>{{ u.email }}</td>
                        <td>{{ u.phone }}</td>
                        <td>
                        <button class="btn btn-primary" name="{{ u.id }}" data-dismiss="modal" onclick="makeguestselect({{ u.id }})">Select</button>
                        </td>
                      </tr>
                    {% endfor %}
          
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
          {% endif %}


        </div><!-- ./modal-body-->

        <!--
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        -->

      </div>
    </div>
  </div>


{% if successpage %}
<div class="alert alert-success">
  <strong>Success!</strong> Reservation completed successfully!
</div>
{% endif %}

  <form class="form-horizontal well" id="frml" method="POST" action="/reservation/new">
    <div class="form-group">
      <label for="capacity" class="col-sm-2 control-label">Number of Guests</label>
      <div class="col-sm-10">
        <input type="text" name="capacity" class="form-control" id="numguests" placeholder="Number of Guests">
      </div>
    </div>

    <div class="form-group">
      <label for="datefilter" class="col-sm-2 control-label">Select a Date Range</label>
      <div class="col-sm-10">
        <input type="text" name="dates" class="form-control" id="datepick" placeholder="Click here to pick the dates">
        <script type="text/javascript">
        $(function() {
          $('input[name="dates"]').daterangepicker({
              autoApply: true,
              locale: {
                format: 'YYYY/MM/DD'
              }
          });
        });
        </script>
      </div>
    </div>
    
    
    <br>
    
    <div class="form-group">
      <label for="guestselected" class="col-sm-2 control-label">Guest</label>
      <div class="col-sm-10">
        {% if guestSelected %}
          <h3> <font color="green">{{ guestSelected.first }} + " " + {{ guestSelected.last }}</font></h3>
        {% else %}
          <h3> <font color="red" id="guestName">No Guest Selected</font></h3>
          <input type="hidden" id="guestID" name="guestID" value="">
          <input type="hidden" id="newguestfirst" name="newguestfirst" value="">
          <input type="hidden" id="newguestlast" name="newguestlast" value="">
          <input type="hidden" id="newguestemail" name="newguestemail" value="">
          <input type="hidden" id="newguestphone" name="newguestphone" value="">
          <input type="hidden" id="newguestaddress" name="newguestaddress" value="">
          <input type="hidden" id="newguestpayment" name="newguestpayment" value="">
          <input type="hidden" id="newguestnotes" name="newguestnotes" value="">
          
        {% endif %}
      </div>
      <div class="col-sm-10">
        <label for="guestbuttons" class="col-sm-2 control-label"></label>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#makeguest"> New Guest </button>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#pickguest"> Existing Guest </button>
      </div>
    </div>
    <br>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label><input type="checkbox" name="roomselect" value="True" checked><b>Auto-Select Room</b></label>
      </div>
      </div>
    </div>
    
    
    <br>
    <br>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Complete</button>
      </div>
    </div>
  </form>


{% else %}
  <div class="panel panel-default">
    <div class="panel-body">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <em>You don't have permission create reservations.</em>
    </div>
  </div>
{% endif %}


{% endblock %}
