<html>
  <head> <title> Room Reserve </title></head>
  <body id="userui">
    <header>
      ::before
      <div id= "reserve_logo">
        <img src = "IMAGE SOURCE FOR OUR LOGO GOES HERE">
      </div>
      <div>
        <ul class= "reserve-header-nav">
          <li>
            any text we want here
          </li>
          <li>•</li>
          <li>
            we can seperate things with cool dots
          </li>
          <li>•</li>
          <li>
            oooh. Pretty.
          </li>
          <li>•</li>
          <li>
            maybe put username here
          </li>
          <li>
            <a href="thelogout.php">
              Log Out
            </a>
          </li>
        </ul>
      </div>
    </header>
    
    <nav class="main-side-nav" style = "width:172px; height:651px;">
      <div class="main-side-nav-containter">
        <ul>
          <li id="makeReserve">
            <a href="reservation.php">
              <span style="display:block;">
                Add Reservation
              </span>
            </a>
          </li>
          
          <li id="makeGuest">
            <a href="guest.php">
              <span style="display:block;">
                Add Guest
              </span>
            </a>
          </li>
          
          <li id="editReserve">
            <a href="editReservation.php">
              <span style="display:block;">
                Edit a Reservation
              </span>
            </a>
          </li>
          
          <li id="editReserve">
            <a href="editReservation.php">
              <span style="display:block;">
                Edit a Reservation
              </span>
            </a>
          </li>
          
          <li id="search">
            <a href="search.php">
              <span style="display:block;">
                Search
              </span>
            </a>
          </li>
          
        </ul>
      </div>
    </nav>
  </body>
</html>
