{% extends 'default.html' %}

{% block body1 %}

<div>
<form class="well" method="POST" action="/admin/reservation">
  {{ form.csrf_token }}
  {{ form.guestID.label }} {{ form.guestID }}
  {{ form.username.label }} {{ form.username }} <br />
  {{ form.roomID.label }} {{ form.roomID }} <br />
  {{ form.monthIn.label }} {{ form.monthIn }}
  {{ form.dayIn.label }} {{ form.dayIn }}
  {{ form.yearIn.label }} {{ form.yearIn }}
  {{ form.hourIn.label }} {{ form.hourIn }}
  {{ form.minuteIn.label }} {{ form.minuteIn }}<br />
  {{ form.monthOut.label }} {{ form.monthOut }}
  {{ form.dayOut.label }} {{ form.dayOut }}
  {{ form.yearOut.label }} {{ form.yearOut }}
  {{ form.hourOut.label }} {{ form.hourOut }}
  {{ form.minuteOut.label }} {{ form.minuteOut }}<br />
  {{ form.status.label }} {{ form.status }}<br/>
  {{ form.notes.label }} {{ form.notes }}<br/>

  <input type="submit" class="btn-primary" value="Create">
</form>
<hr />
</div>

<div class="panel panel-primary col-md">
  <div class="panel-heading">
    <h3 class="panel-title">Reservations</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>guestID </th>
              <th>username</th>
              <th>roomID </th>
              <th>checkIn</th>
              <th>checkOut </th>
              <th>status</th>
              <th>notes</th>
            </tr>
          </thead>
          <tbody>
          {% for r in reservations %}
            <tr>
              <td>{{ r.id }}</td>
        			<td>{{ r.guest }}</td>
        			<td>{{ r.madeby }}</td>
        			<td>{{ r.place }}</td>
        			<td>{{ r.checkintime }}</td>
        			<td>{{ r.checkouttime }}</td>

              <td>{{ r.status }}</td>
              <td>{{ r.notes }}</td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

//<script>
//$('#remote_input').autocomplete({
//  valueKey:'title',
//  source:[]
//});
//$('button#open').click(function(){
 // $('#remote_input').trigger('open');
//  $('#remote_input').focus();
//});
//</script>


{% endblock %}
