{% extends 'default.html' %}

{% block body1 %}


<form class="well" method="POST" action="/admin/reservation">
  {{ form.csrf_token }}
  {{ form.guestID.label }} {{ form.guestID(size=20) }}
  {{ form.username.label }} {{ form.username(size=20) }} <br />
  {{ form.roomID.label }} {{ form.roomID(size=20) }} <br />
  {{ form.monthIn.label }} {{ form.monthIn(size=20) }}
  {{ form.dayIn.label }} {{ form.dayIn(size=20) }}
  {{ form.yearIn.label }} {{ form.yearIn(size=20) }}
  {{ form.hourIn.label }} {{ form.hourIn(size=20) }}
  {{ form.minuteIn.label }} {{ form.minuteIn(size=20) }}<br />
  {{ form.monthOut.label }} {{ form.monthOut(size=20) }}
  {{ form.dayOut.label }} {{ form.dayOut(size=20) }}
  {{ form.yearOut.label }} {{ form.yearOut(size=20) }}
  {{ form.hourOut.label }} {{ form.hourOut(size=20) }}
  {{ form.minuteOut.label }} {{ form.minuteOut(size=20) }}<br />
  {{ form.status.label }} {{ form.status(size=20) }}<br/>
  {{ form.notes.label }} {{ form.notes(size=20) }}<br/>

  <input type="submit" value="Create">
</form>
<hr />


<div class="panel panel-info col-md-9">
  <div class="panel-heading">
    <h3 class="panel-title">Reservations</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>guestID </th>
              <th>username</th>
              <th>roomID </th>
              <th>checkIn</th>
              <th>checkOut </th>
              <th>status</th>
              <th>notes</th>
            </tr>
          </thead>
          <tbody>
          {% for r in reservations %}
            <tr>
              <td>{{ r.id }}</td>
        			<td>{{ r.guest }}</td>
        			<td>{{ r.madeby }}</td>
        			<td>{{ r.place }}</td>
        			<td>{{ r.checkintime }}</td>
        			<td>{{ r.checkouttime }}</td>

              <td>{{ r.status }}</td>
              <td>{{ r.notes }}</td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


{% endblock %}
