{% extends 'default.html' %}

{% block body1 %}

<h2>Reservation Details</h2>

<p>Please review the information below and press "Finish" to confim your reservation.</p>

<!-- Table of buildings -->
<div class="panel panel-primary col-md">
  <div class="panel-heading">
    <h3 class="panel-title">Reservation Details</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Reservation Number</th>
              <th>{{ res.getID() }}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> When </td>
              <td> {{ res.get_check_in_datetime().strftime("%A, %B %d, %Y")}} — {{ res.get_check_out_datetime().strftime("%A, %B %d, %Y")}} </td>
              <td>Edit Button</td>
            </tr>
            <tr>
              <td> Room Number </td>
              <td> {{ res.get_room().getMyBuildingName() }}: {{ res.get_room().get_room_number() }} </td>
              <td>Edit Button</td>
            </tr>
            <tr>
              <td> Who </td>
              <td> {{ res.get_guest().get_last_name() }}, {{ res.get_guest().get_first_name() }}  <sup><em>({{ res.getGuestID() }})</em></sup></td>
              <td>Edit Button</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<form class="well" method="POST" action="/res/confirm">
  <input type="hidden" name="resID" value="{{ res.getID() }}">
  <input type="submit" class="btn-primary" value="Finish">
</form>


{% endblock %}
