{% extends 'default.html' %}

{% block body1 %}

<p>Creating a new reservation for {{ buildingName }} {{ res.get_room().get_room_number() }}.</p>

<form class="well" method="POST" action="/res/new/guest/new/process">
  {{ form.csrf_token }}
  {{ form.firstname.label }} {{ form.firstname(size=20) }}
  {{ form.lastname.label }} {{ form.lastname(size=20) }} <br />
  {{ form.email.label }} {{ form.email(size=50) }} <br />
  {{ form.phone.label }} {{ form.phone(size=20) }} <br />
  {{ form.address.label }} {{ form.address(size=50) }} <br />
  {{ form.payment.label }} {{ form.payment(size=25) }} <br />
  {{ form.notes.label }} {{ form.notes(size=300) }} <br /><br />
  <input type="hidden" name="resID" value="{{ res.getID() }}">

  <input type="submit" class="btn-primary" value="Create">
</form>


{% endblock %}
