{% extends 'default.html' %}

{% block body1 %}

<!-- Table of available rooms -->
<div class="panel panel-primary col-md">
  <div class="panel-heading">
    <h3 class="panel-title">Available Rooms</h3>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Building</th>
              <th>Floor</th>
              <th>Room Number</th>
              <th>Capacity</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for r in rooms %}
          		<tr>
          			<td>{{ r.getMyBuildingName() }}</td>
          			<td>{{ r.floor }}</td>
                <td><strong>{{ r.roomnumber }}</strong></td>
                <td>{{ r.capacity }}</td>
                <td>
                  <form action="/res/new/guest" method="POST">
                    <input type="hidden" name="resID" value="{{ resID }}">
                    <input type="hidden" name="roomID" value="{{ r.id }}">
                    <input type="submit" class="btn btn-primary" value="Select">
                  </form>
                </td>
          		</tr>
          	{% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
