{% extends 'default.html' %}

{% block body1 %}

{% macro render_pagination(pagination) %}
  <div class=pagination>
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="?page={{page}}&per={{perPage}}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  </div>
{% endmacro %}


<!-- Table of available rooms -->
<div class="panel panel-primary col-md">
  <div class="panel-heading">
    {% if editsession %}
      <a href="/res/{{ resID }}" class="btn btn-default btn-circle btn-md"><i class="fa fa-arrow-left"></i></a>
    {% endif %}
    Available Rooms
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Building</th>
              <th>Room Number</th>
              <th>Capacity</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for r in rooms.items %}
          		<tr>
          			<td>{{ r.getMyBuildingName() }}</td>
                <td><strong>{{ r.roomnumber }}</strong></td>
                <td>{{ r.capacity }}</td>
                <td>
                  {% if not editsession %}
                    <form action="/res/new/guest" method="POST">
                      <input type="hidden" name="resID" value="{{ resID }}">
                      <input type="hidden" name="roomID" value="{{ r.id }}">
                      <input type="submit" class="btn btn-primary" value="Select">
                    </form>
                  {% else %}
                    <form action="/res/edit/room/confirm" method="POST">
                      <input type="hidden" name="resID" value="{{ resID }}">
                      <input type="hidden" name="roomID" value="{{ r.id }}">
                      <input type="submit" class="btn btn-primary" value="Select">
                    </form>
                  {% endif %}

                </td>
          		</tr>
          	{% endfor %}

          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-6 vcenter">
        Rooms per page:
        <a href="?page=1&per=10">10</a>
        <a href="?page=1&per=25">25</a>
        <a href="?page=1&per=50">50</a>
      </div><div class="col-md-6 vcenter"><div class="pull-right">
        {% if rooms.has_prev %}<a href="?page={{rooms.prev_num}}&per={{perPage}}">&lt;&lt; Previous</a>{% else %}&lt;&lt; Previous{% endif %} |
        {{ render_pagination(rooms) }}|
        {% if rooms.has_next %}<a href="?page={{rooms.next_num}}&per={{perPage}}">Next &gt;&gt;</a>{% else %}Next &gt;&gt;{% endif %}
      </div></div>
    </div>
  </div>
</div>

{% endblock %}
