{% extends 'default.html' %}

{% block body1 %}

<p>Creating a new reservation for {{ buildingName }} {{ room.get_room_number() }}.</p>

<h5>Guest Information</h5>

<button>Existing Guest</button>
<form action="/res/step-3/search" method="POST">
  <input type="hidden" name="resID" value="{{ resID }}">
  <input type="submit" class="btn btn-primary" value="Existing Guest">
</form>
<form action="/res/step-3/new" method="POST">
  <input type="hidden" name="resID" value="{{ resID }}">
  <input type="submit" class="btn btn-primary" value="New Guest">
</form>



{% endblock %}
