{% extends 'default.html' %}

{% block body1 %}


<div class="panel panel-primary">
  <div class="panel-heading">
    {% if editsession %}
      <a href="/res/{{ resID }}" class="btn btn-default btn-circle btn-md"><i class="fa fa-arrow-left"></i></a>
    {% endif %}
    Guest Information
  </div>
  <div class="panel-body">

    <p>Please select an existing guest or add a new guest for this reservation.</p>

    {% if not editsession %}

      <form class="navbar-form navbar-left" action="/res/new/guest/new" method="POST">
    	  <input type="hidden" name="resID" value="{{ resID }}">
    	  <input type="submit" class="btn btn-primary navbar-btn" value="New Guest">
    	</form>

    	<form class="navbar-form navbar-left" action="/res/new/guest/search" method="POST">
    	  <input type="hidden" name="resID" value="{{ resID }}">
    	  <input type="submit" class="btn btn-primary navbar-btn" value="Existing Guest">
    	</form>

    {% else %}

      <form class="navbar-form navbar-left" action="/res/edit/guest/new" method="POST">
        <input type="hidden" name="resID" value="{{ resID }}">
        <input type="submit" class="btn btn-primary navbar-btn" value="New Guest">
      </form>

      <form class="navbar-form navbar-left" action="/res/edit/guest/search" method="POST">
        <input type="hidden" name="resID" value="{{ resID }}">
        <input type="submit" class="btn btn-primary navbar-btn" value="Existing Guest">
      </form>

    {% endif %}
  </div>
</div>


{% endblock %}
