<div id="footer">
	<div class="container">
		<br />

		<p class="text-muted"> RoomReserve. In Development.</p>


		<!--<p class="text-muted"> {{ appname }}, {{ build }}, {{ site }} </p>-->
		{% if not withGlobals %}
		 <div class="alert alert-info">Hey developer! You probably called this page using render_template(),
			but you should really be using render() because it will pass in some nice global variables
		  for use in your templates. =)
		 </div>
		{% else %}
		 <br>
		 <br>
		 <p class="small text-muted" align="center">Made with {{ feeling }} at Luther College.</p>
		{% endif %}
	</div>
</div>

<!-- jQuery -->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/static/dist/js/sb-admin-2.js"></script>
