<div id="footer">
	<div class="container">
		<p class="text-muted"> RoomReserve. In Development.</p>


		<!--<p class="text-muted"> {{ appname }}, {{ build }}, {{ site }} </p>-->
		{% if not withGlobals %}
		 <div class="alert alert-info">Hey developer! You probably called this page using render_template(),
			but you should really be using render() because it will pass in some nice global variables
		  for use in your templates. =)
		 </div>
		{% else %}
		 <p class="small text-muted">Made with {{ feeling }} at Luther College.</p>
		{% endif %}
	</div>
</div>
