<!-- Fixed navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">RoomReserve</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a href="/">Home</a></li>
        <li><a href="/today">Today</a></li>
        <li><a href="/admin">Configuration</a></li>
        <li>
          {% if current_user_name %}
    			<div class="dropdown">
    				<button class="btn btn-default dropdown-toggle" height=25px; type="button" data-toggle="dropdown" id="UserDropdownMenu-Logged-In">{{ current_user_name }}
    					<span class="caret"></span></button>
    					<ul class="dropdown-menu">
    						<li></li>
    						<li><a href="#"><em>{{ current_user_role }}</em></a></li>
    						<li><a href="/logout">Log out</a></li>
    					</ul>
    				</div>

    			{% else %}
    				<a href="/login"><span class="label label-default">Log in</span></a>
    			{% endif %}
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
