<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li class="sidebar-search">
              <form method="POST" action="/admin/mainSearch">
                <div class="input-group custom-search-form">
                    <input type="text" id="search" name="search" class="form-control" placeholder="Search RoomReserve">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
              </form>
            </li>


            <li>
                <a href="/admin/dashboard">
                  <i class="fa fa-dashboard fa-fw"></i> Dashboard
                </a>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#">
                  <i class="fa fa-calendar fa-fw"></i> Reservations<span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/res/new">New Reservation</a>
                    </li>
                    <li>
                        <a href="/admin/reservation">Reservations</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
                <a href="#"><i class="fa fa-users fa-fw"></i> Guests<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/admin/guest">New Guest</a>
                    </li>
                    <li>
                        <a href="/admin/guestsearch">Search Guest</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <li>
              <a href="#"><i class="fa fa-cogs fa-fw"></i> Configuration<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                  <li>
                      <a href="/admin/users">Users</a>
                  </li>
                  <li>
                      <a href="/admin/buildings">Buildings</a>
                  </li>
                  <li>
                      <a href="/admin/rooms">Rooms</a>
                  </li>
              </ul>
              <!-- /.nav-second-level -->
          </li>
            </li>

<!--             <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                        /.nav-third-level
                    </li>
                </ul>
                /.nav-second-level
            </li> -->

        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
