
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">RoomReserve</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/today">Today</a></li>
            <li><a href="/404">Link-to-another</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
